<div class="main_Container">

    <div class="card_container">

        <div class="card_image">

            <img src="{{ photoCover }}" title="Imagem de card" alt="Imagem de card">
            

        </div>
    
        <div class="card_author">
            <p> {{author}}.</p> 
            
    
        </div>
    
        <div class="card_title"> 
            <h3>{{cardTtitle}}</h3>
    
        </div>
    
        <div class="card_content">
            <p> {{CardDescription}}</p>
    
        </div>
    
    
        <div class="card_footer">
    
           <ul>
            <li>Products</li>
            <li>Resources</li>
            <li>Interviews</li>
           </ul>
    
    
        </div>
        
    </div>



</div>
