<div class="container">

    <div class="footer_logo">

         <p> Untitled UI </p>

    </div>

    <div class="footer_text">

        <p>
            Design amazing digital experiences, <br>
            that create more happy in the world.
        </p>

    </div>


    <div class="footer_itens">

        <ul>
            <li>Overviews</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>Carrers</li>
            <li>Help</li>
            <li>Privacy</li>
        </ul>


    </div>

    <div class="footer_copyright">

            <p> &copy; 2024. Untitled UI. All rights reserved</p>

    </div>

</div>
